<body class="container">
  <h3 class="header">Mongo Scraper</h3>
  <div id="buttons">
    <button class="btn" id="headline-sort">Sort By Headline</button>
     {{!-- <button class="btn" id="more-articles">Get New Articles</button> --}}
    
  </div>
  <table id="results">
    <thead>
      <tr>
        <th id="title">Title</th>
        <th id="link">Link</th>
        <th id="image">Image</th>
        <th id="summary">Summary</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <!-- Results from DB here -->
    </tbody>
  </table>
  <script src="app.js"></script>